@page "/login"
@using pin_projekt.Shared
@inject HttpClient Http



<h3>Login</h3>
<p>
    KORISNIČKO IME:
    <asp:Label ID="label1" runat="server" Text="Upišite korisničko ime"></asp:Label>
</p>

<p>
    LOZINKA:<asp:Label ID="label2" runat="server" Text="Upišite lozinku"></asp:Label>
</p>
@code {

}
