@page "/register"
@using pin_projekt.Shared
@inject HttpClient Http




<h3>Register</h3>
<p>
    KORISNIČKO IME:
    <asp:Label ID="label3" runat="server" Text="Upišite korisničko ime"></asp:Label>
</p>

<p>
    LOZINKA:<asp:Label ID="label4" runat="server" Text="Upišite lozinku"></asp:Label>
</p>
<p>
    E-MAIL:
    <asp:Label ID="label5" runat="server" Text="Upišite e-mail adresu"></asp:Label>
</p>



}
